{% extends "base.html" %}
{% load static %}
{% block title %}
{% if ad.category == 1 or ad.category == 2  %}
<title>Продам {{ ad.title|lower }} - TukaTuka</title>
{% elif ad.category == 3 or ad.category == 4 %}
<title>Куплю {{ ad.title|lower }} - TukaTuka</title>
{% endif %}
{% endblock %}
{% block content %}
<!-- Main Wrapper -->
<div id="main-wrapper">
    <div class="wrapper style2">
        <div class="inner">
            <div class="container">
                <div id="content">
                    <!-- Content -->
                    <article>
                        <header class="major">
                            <div class="row justify-content-between">
                                <div class="col">
                                    <h1>{% if ad.category == 1 or ad.category == 2 %}Продам{% else %}
                                        Куплю{% endif %} {{ ad.title|lower }}</h1>
                                    <h6>{{ ad.company_adress }}</h6>
                                </div>
                                <div class="col-">
                                    <h1>{% if ad.price == 0 or ad.price == None %}
                                        {% else %} {{ ad.price }} руб за тонну{% endif %}</h1>
                                    <h6>{% if ad.volume == 0 or ad.volume == None %}
                                        {% else %} {{ ad.volume }} тонн{% endif %}</h6>
                                </div>
                            </div>
                        </header>


                        <!-- Block with number -->
                        <div class="row">
                            <div class="col-lg col-sm-auto btnup">
                                <button class="button" type="button" id="button"><span id="button__text">Показать телефон +7&nbsp;XXX XXX XX-XX</span>
                                </button>
                                <button id="telephone" style="display: none"><span>{{ ad.phone_number }}{% if ad.phone_another %}
                                         ,{{ ad.phone_another }}{% endif %}</span></button>
                            </div>
                            <div class="w-100 d-sm-none"><br></div>
                            <div class="col-lg col-sm-auto btnup">
                                <p><strong>{{ ad.name }}</strong>
                                    <br>{% if ad.position %}
                                    {{ ad.position }}{% endif %}</p>
                            </div>
                            <div class="row justify-content-start">
                                <div class="col-lg col-sm-auto btnup" align="center">

                                    <a href="http://to-group.ru/onlayn-kalkulyator-gruzoperevozki" class="buttongreen"
                                       style="color:#259433">Рассчитать доставку</a>
                                </div>
                            </div>
                        </div>
                        <br>
                        <!-- Number script -->

                        <script>
                            $( document ).ready(function(){
                                $( "button" ).click(function() {
                                    $( "#button" ).slideUp();
                                    $( "#telephone" ).slideDown();
                                });
                             });

                        </script>


                        <!-- Item description -->
                        <div class="row">
                            {% if ad.photo %}
                            <div class="col-xl col-sm-auto">
                                <span><img class="butterfly adimg" src="
                                         {{ ad.photo.url }}" border="0" alt="Вторичные переработанные гранулы"/></span>
                            </div>
                            {% endif %}
                            <div class="w-100 d-sm-none"></div>
                            <div class="col-xl-9 col-sm-auto  ">
                                <h3>Описание:</h3>
                                <h5>{{ ad.description }}</h5>
                            </div>
                        </div>

                        <br>

                        <!-- Yandex maps -->
                        <div class="d-none d-md-block" id="map" style="width:800px; height:450px"></div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
ymaps.ready(init);

function init() {
    var myMap = new ymaps.Map('map', {
        center: [55.753994, 37.622093],
        zoom: 9
    });

    // Введи наш адрес.
    ymaps.geocode('{{ ad.company_adress }}', {
        /**
         * Опции запроса
         * @see https://api.yandex.ru/maps/doc/jsapi/2.1/ref/reference/geocode.xml
         */
        // Сортировка результатов от центра окна карты.
        // boundedBy: myMap.getBounds(),
        // strictBounds: true,
        // Вместе с опцией boundedBy будет искать строго внутри области, указанной в boundedBy.
        // Если нужен только один результат, экономим трафик пользователей.
        results: 1
    }).then(function (res) {
            // Выбираем первый результат геокодирования.
            var firstGeoObject = res.geoObjects.get(0),
                // Координаты геообъекта.
                coords = firstGeoObject.geometry.getCoordinates(),
                // Область видимости геообъекта.
                bounds = firstGeoObject.properties.get('boundedBy');

            firstGeoObject.options.set('preset', 'islands#darkGreenFactoryIcon');
            // Получаем строку с адресом и выводим в иконке геообъекта.
            firstGeoObject.properties.set('iconCaption', firstGeoObject.getAddressLine());

            // Добавляем первый найденный геообъект на карту.
            myMap.geoObjects.add(firstGeoObject);
            // Масштабируем карту на область видимости геообъекта.
            myMap.setBounds(bounds, {
                // Проверяем наличие тайлов на данном масштабе.
                checkZoomRange: true
            });
    });
}

</script>
{% endblock %}