{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Main Wrapper -->
<div id="main-wrapper">
    <div class="wrapper style2">
        <div class="inner">
            <div class="container">
                <div id="content">
                    {% for ad in ad_info %}
                    <!-- Content -->
                    <article>
                        <header class="major">
                            <div class="row justify-content-between">
                                <div class="col">
                                    <h1>{% if ad.category == 1 or ad.category == 2 %}Куплю{% else %}
                                    Продам{% endif %} {{ ad.title|lower }}</h1>
                                    <h6>{{ ad.company_adress }}</h6>
                                </div>
                                <div class="col-">
                                    <h1>{% if ad.price_min == 0 %}
                                            {% else %} {{ ad.price_min }} руб за тонну{% endif %}</h1>
                                    <h6>{% if ad.volume == 0 %}
                                            {% else %} {{ ad.volume }} тонн{% endif %}</h6>
                                </div>
                            </div>
                        </header>



                        <!-- Block with number -->
                        <div class="row">
                            <div class="col-lg col-sm-auto btnup">
                                <button class="button" type="button" id="button"><span class="button__text" id="button__text">Показать телефон </span><span id="telephone" hidden>{{ ad.phone_number }}{% if ad.phone_another %}
                                         {{ ad.phone_another }}{% endif %}</span><span id="phones__mask" >+7&nbsp;XXX XXX XX-XX</span></button>
                            </div>
                            <div class="w-100 d-sm-none"><br></div>
                            <div class="col-lg col-sm-auto btnup">
                                <p><strong>{{ ad.name }}</strong>
                                    <br>{% if ad.position %}
                                         {{ ad.position }}{% endif %}</p>
                            </div>
                            <div class="row justify-content-start">
                                <div class="col-lg col-sm-auto  btnup" align="center">

                                    <a href="http://to-group.ru/onlayn-kalkulyator-gruzoperevozki" class="buttongreen" style="color:#259433">Рассчитать доставку</a>  
                                </div>
                            </div>
                        </div>
                        <br>
                        <!-- Number script -->
                        <script>
                            button.onclick = function(event) {

                                var elem = document.getElementById("telephone");

                                elem.hidden = !elem.hidden;
                                document.getElementById("phones__mask").parentNode.removeChild(document.getElementById("phones__mask"));
                                document.getElementById("button__text").parentNode.removeChild(document.getElementById("button__text"));

                            };
                        </script>



                        <!-- Item description -->
                        <div class="row">
                            <div class="col-xl col-sm-auto">
                                <span><img class="butterfly adimg" src="" border="0"  alt="Вторичные переработанные гранулы" /></span>
                            </div>
                            <div class="w-100 d-sm-none"></div>
                            <div class="col-xl-9 col-sm-auto  ">
                                <h3>Описание:</h3>
                                <h5>{{ ad.description }}</h5>
                            </div>
                        </div>

                        <br>

                        <!-- Yandex maps -->
                        <div class="d-none d-md-block">
                            <!-- Map -->
                        </div>
                        {% endfor %}
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}