{% extends "base.html" %}
{% load static %}
{% block title %}
    <title>Вход - TukaTuka</title>
{% endblock %}
{% block script %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <link rel="stylesheet" href="{% static "assets/css/auth.css" %}" />
        {% endblock %}

{% block content %}
    <div id="login">
        <h1><img src="{% static "images/icons8-t-50.png" alt="TukaTuka" %}"></h1>

        <form name="loginform" id="loginform" method="post">
            {% csrf_token %}
            {{ form.as_p }}
         <a class="nav-link active" href="{% url 'base'%}">
                <button type="submit" class="button button-primary button-large">Войти</button>
            </a>
        </form>

        <p id="nav">
            <a href="">Забыли пароль?</a>
        </p>


        <p id="backtoblog"><a href="https://tukatuka.ru/">&larr; Назад к сайту &laquo;Tukatuka&raquo;</a></p>

    </div>


    <div class="clear"></div>
{% endblock %}
