{% load static %}
<!DOCTYPE HTML>
<html lang="ru">
    <head>
      {% block title %}  <title>Вход - TukaTuka</title>{% endblock %}
        <meta charset="utf-8" />
        <meta name="keywords" content="переработка отходов, утилизация, покупка пластиковых отходов, продажа пластиковых отходов, вторичное сырье, переработка мусора, утилизация отходов" />
        <meta name="description" content="Надежный рынок вторичного сырья" />
        <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-1.8.3.js"></script>
        <link rel="stylesheet" href="{% static "assets/css/auth.css" %}" />
        <link rel="shortcut icon" href="{% static "images/icons8-t-50.png" type="image/x-icon" %}" />
        <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
        <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-117102847-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-117102847-1');
</script>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MJJSPHR');</script>
<!-- End Google Tag Manager --></head>

<body class="login login-action-login wp-core-ui  locale-ru-ru">
    <div id="login">
        <!--<h1><img src="{% static "images/icons8-t-50.png" alt="TukaTuka" %}"></h1>-->
        {% block content %}<h1>Вход в личный кабинет</h1>
        <form name="loginform" id="loginform" method="post">
            {% csrf_token %}
           <p><label for="user_login">E-mail<br />{{ form.username }}</label>
            </p>
            <p><label for="user_pass">Пароль <a href="{% url "password_reset" %}" id="pwdrec" style="color: rgb(95, 100, 105);">(Забыли пароль?)</a><br />
                {{ form.password }} {{ form.non_field_errors }}</label>
            </p>
        <p class="forgetmenot"><label for="rememberme"><input name="rememberme" type="checkbox" id="rememberme" value="forever"  /> Запомнить меня</label></p>
        <p class="submit">
                <button type="submit" class="button button-primary button-large">Войти</button>
            </p>
        </form>
        
            <p id="nav" class="row justify-content-center">
                        Войти с помощью
            </p>
        <br>
            <div class="row justify-content-center">
               <!--  <div class="col-2"><a href="#"><i style="color: #555d66" class="fab fa-vk fa-3x"></i></a></div>-->
               <!--  <div class="col-2"><a href="#"><i style="color: #555d66" class="fab fa-facebook-square fa-3x"></i></a></div>-->
                <div class="col-1"><a href="{% url 'social:begin' 'odnoklassniki-oauth2' %}"><i style="color: #555d66" class="fab fa-odnoklassniki-square fa-3x"></i></a></div>
            </div>

        <p id="nav">
            <a href="{% url 'regist' %}">Нет аккаунта? Зарегестрируйтесь!</a>
           <!-- <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a><br>-->
        </p>


        <p id="backtoblog"><a href="https://tukatuka.ru/">&larr; Назад к сайту &laquo;Tukatuka&raquo;</a></p>
        {% endblock %}

    </div>
<script>
$( document ).ready(function() {
    $( "#pwdrec" ).click(function() {
        result = prompt('Введите ваш e-mail:', '');
            if (result !== null) {
                alert("Новый пароль отправлен на ваш почтовый ящик!");
            };
       });
    });
</script>

    <div class="clear"></div>
</body>

</html>
