{% load static %}
<html lang="ru">
    <head>
    	{% block title %}{% endblock %}
    	<meta charset="utf-8" />
		<meta name="keywords" content="переработка отходов, утилизация, покупка пластиковых отходов, продажа пластиковых отходов, вторичное сырье, переработка мусора, утилизация отходов" />
		<meta name="description" content="Надежный рынок вторичного сырья" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="shortcut icon" href="{% static "images/icons8-t-50.png" type="image/x-icon" %}"/>
        {% block script %}

        {% endblock %}
        <script async src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
        <script async src="https://code.jquery.com/jquery-1.8.3.js"></script>
        <link rel="stylesheet" href="{% static "assets/css/main.css" %}"/>
        <!--[if lte IE 8]><link rel="stylesheet" href="{% static "assets/css/ie8.css" %}" /><![endif]-->
        <!--[if lte IE 9]><link rel="stylesheet" href="{% static "assets/css/ie9.css" %}" /><![endif]-->
    </head>
   {% block body %} <body>{% endblock %}
    	{% block header %}
    		{% include "header.html" %}
    	{% endblock %}
        {% block content %}{% endblock %}
        {% include "footer.html" %}
    </body>
</html>
