{% extends "base.html" %}
{% load static %}
{% block title %}
	<title>О нас - TukaTuka</title>
{% endblock %}
	{% block content %}

			<!-- Main Wrapper -->
				<div id="main-wrapper">
					<div class="wrapper style2">
						<div class="inner">
							<div class="container">
								<div id="content">

									<!-- Content -->

										<article>
											<header class="major">
												<h1>Поддержите проект</h1>
												
											</header>

											<span class="image featured"><img class="content__img d-none d-md-block" src="{% static "images/cash.jpg" %}" alt="Поддержите нас" style="height: 350px;" ><img class="d-md-none" src="{% static "images/cash.jpg" %}" style="height: 200px;" alt="Поддержите нас"  ></span>
											<h3></h3>
											<p> Вы полюбили <strong> TukaTuka </strong> и хотите помочь развитию проекта? Не можем Вам в этом отказать!
											<br>Удобная форма внизу создана специально для Вас:
											<br>
                                         	</p>
											<iframe src="https://money.yandex.ru/quickpay/shop-widget?writer=seller&targets=%D0%9D%D0%B0%20%D1%80%D0%B0%D0%B7%D0%B2%D0%B8%D1%82%D0%B8%D0%B5%20TukaTuka&targets-hint=&default-sum=10&button-text=13&payment-type-choice=on&mobile-payment-type-choice=on&hint=&successURL=https%3A%2F%2Ftukatuka.ru%2Fabout&quickpay=shop&account=410012708590659" width="100%" height="222" frameborder="0" allowtransparency="true" scrolling="no"></iframe>
											<p id="right">Всегда Ваш, TukaTuka.</p>
										</article>

								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
{% endblock %}