{% load static %}
<!-- Footer Wrapper -->
<div id="footer-wrapper">
    <footer id="footer" class="container">
        <div class="row">
            <div class="3u 12u(mobile)">

                <!-- Links -->
                <section>
                    <h2>Быть на связи</h2>
                    <div>
                        <div class="row">
                            <div class="6u 12u(mobile)">
                                <dl class="contact">
                                    <dt>Telegram</dt>
                                    <dd><a href="https://t.me/joinchat/DxwF3BBrUcQ5sQIi7fIpHw">@tuka_tuka</a></dd>
                                    <dt>Facebook</dt>
                                    <dd><a href="https://www.facebook.com/TukaTuka-1694124773979959/">TukaTuka</a></dd>
                                    <dt>LinkedIn</dt>
                                    <dd><a href="https://www.linkedin.com/company/tukatuka/">TukaTuka</a></dd>
                                    <dt>Email</dt>
                                    <dd><a href="#footer">info@tukatuka.ru</a></dd>

                                </dl>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
            <div class="3u 12u(mobile)">

                <!-- Links -->
                <section>
                    <h2>Купить</h2>
                    <ul class="divided">
                        <li><a href="{% url 'buy' category=1 %}">Сырье на переработку</a></li>
                        <li><a href="{% url 'buy-rec' category=2 %}">Переработанное сырье</a></li>
                    </ul>
                </section>

                <!-- Links -->
                <section>
                    <h2>Продать</h2>
                    <ul class="divided">
                        <li><a href="{% url 'sell' category=3 %}">Сырье на переработку</a></li>
                        <li><a href="{% url 'sell-rec' category=4 %}">Переработанное сырье</a></li>
                    </ul>
                </section>

            </div>
            <div class="6u 12u(mobile)">

                <!-- About -->
                <section>
                    <h2><strong>О нас</strong></h2>
                    <p>Привет это <strong>TukaTuka</strong>, бесплатная платформа для купли-продажи вторичного сырья</p>
                    <a href="{% url 'donate' %}#main-wrapper" class="button icon fa-money">Поддержать проект</a><br><br>
                    <a href="{% url 'about' %}#main-wrapper" class="button alt icon fa-arrow-circle-right">Узнать больше</a>
                </section>

                <!-- Contact -->
                <section>

                    <div class="6u 12u(mobile)">
                        <dl class="contact">
                            <dt>Адрес</dt>
                            <dd>
                                Москва,<br /> Россия
                                <br />

                            </dd>
                            <dt>Телефон</dt>
                            <dd>8 (925) 115 32 83</dd>
                        </dl>
                    </div>

                </section>

            </div>
        </div>
        <div class="row">
            <div class="12u">
                <div id="copyright">
                    <ul class="menu">
                        <li>&copy; TukaTuka. 2018 Все права защищены</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>


<!-- Scripts -->

<script src="{% static "assets/js/jquery.dropotron.min.js" %}"></script>
<script src="{% static "assets/js/skel.min.js" %}"></script>
<script src="{% static "assets/js/skel-viewport.min.js" %}"></script>
<script src="{% static "assets/js/util.js" %}"></script>
<!--[if lte IE 8]><script src="{% static "assets/js/ie/respond.min.js" %}"></script><![endif]-->
<script src="{% static "assets/js/main.js" %}"></script>
<script type="text/javascript">
    if (!navigator.cookieEnabled) {
        alert('Включите cookie для комфортной работы с этим сайтом');
    }
</script>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function(d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter47510467 = new Ya.Metrika2({
                    id: 47510467,
                    clickmap: true,
                    trackLinks: true,
                    accurateTrackBounce: true,
                    webvisor: true
                });
            } catch (e) {}
        });
        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function() {
                n.parentNode.insertBefore(s, n);
            };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/tag.js";
        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else {
            f();
        }
    })(document, window, "yandex_metrika_callbacks2");
</script> <noscript><div><img src="https://mc.yandex.ru/watch/47510467" style="position:absolute; left:-9999px;" alt="counter" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API = Tawk_API || {},
        Tawk_LoadStart = new Date();
    (function() {
        var s1 = document.createElement("script"),
            s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/5ace6e094b401e45400e8cc9/default';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })();
</script>
<!--End of Tawk.to Script-->
<!-- Top100 (Kraken) Counter -->
<script>
    (function(w, d, c) {
        (w[c] = w[c] || []).push(function() {
            var options = {
                project: 5932305,
            };
            try {
                w.top100Counter = new top100(options);
            } catch (e) {}
        });
        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function() {
                n.parentNode.insertBefore(s, n);
            };
        s.type = "text/javascript";
        s.async = true;
        s.src =
            (d.location.protocol == "https:" ? "https:" : "http:") +
            "//st.top100.ru/top100/top100.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else {
            f();
        }
    })(window, document, "_top100q");
</script>
<noscript>
  <img src="//counter.rambler.ru/top100.cnt?pid=5932305" alt="Топ-100" />
</noscript>
<!-- END Top100 (Kraken) Counter -->
<!--Openstat-->
<span id="openstat1"></span>
<script type="text/javascript">
    var openstat = {
        counter: 1,
        next: openstat
    };
    (function(d, t, p) {
        var j = d.createElement(t);
        j.async = true;
        j.type = "text/javascript";
        j.src = ("https:" == p ? "https:" : "http:") + "//openstat.net/cnt.js";
        var s = d.getElementsByTagName(t)[0];
        s.parentNode.insertBefore(j, s);
    })(document, "script", document.location.protocol);
</script>
<!--/Openstat-->
<!--LiveInternet counter--><script type="text/javascript">
new Image().src = "//counter.yadro.ru/hit?r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";h"+escape(document.title.substring(0,150))+
";"+Math.random();</script><!--/LiveInternet-->