{% extends "header.html" %}
{% block banner %}
<!-- Banner -->
							<div id="banner">
                                {% block moto %}{% endblock %} 
                                <h3>Хотите узнавать о наших новостях первыми?</h3>
                                
                                <!-- Subscribe block -->
                                    <form action="send.php" method="post">
                                      <div class="row">
                                        <div class="col offset-md-2">
                                            <input type="email" name="email" placeholder="Введите E-mail" required>
                                        </div>
                                        <div class="col" align="left">
                                            <button class="icon fa-envelope" type="submit" >Да, хочу!</button>
                                        </div>
                                      </div>  
                                    </form>
								
								
							</div>
{% endblock %}                 