{% extends "header.html" %}
{% block banner %}
<!-- Banner -->
							<div id="banner">
                                {% block moto %}{% endblock %} 
                                <h3>Тяжело найти поставщиков качественного сырья по адекватным ценам?</h3>
                                
                                <!-- Subscribe block -->
                                        <div class="col" align="center">
                                            <button type="submit" >Оставить заявку на поиск сырья</button>
                                        </div>


							</div>
{% endblock %}                 