<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MJJSPHR"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
        <div id="page-wrapper">

            <!-- Header -->
                <div id="header-wrapper">
                    <div class="container">

                        <!-- Header -->
                            <header id="header">
                                <div class="inner">

                                    <!-- Logo -->
                                        <h1><a href="{% url 'base' %}" id="logo">TukaTuka</a></h1>

                                    <!-- Nav -->
                                        <nav id="nav">
                                            <ul>
                                                <li><a href="{% url 'base' %}">Главная</a></li>
                                                <li>
                                                    <a href="#">Купить</a>
                                                    <ul>
                                                        <li><a href="{% url 'buy' category=1 %}">Сырье на переработку</a></li>
                                                        <li><a href="{% url 'buy-rec' category=2 %}">Переработанное сырье</a></li>
                                                        <li><a href="form.html">Добавить объявление</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#">Продать</a>
                                                    <ul>
                                                        <li><a href="{% url 'sell' category=3 %}">Сырье на переработку</a></li>
                                                        <li><a href="{% url 'sell-rec' category=4 %}">Переработанное сырье</a></li>
                                                        <li><a href="form.html">Добавить объявление</a></li>
                                                    </ul>
                                                <li><a href="{% url 'about' %}#main-wrapper">О нас</a></li>
                                            </ul>
                                        </nav>

                                </div>
                            </header><!-- Banner -->
                    {% block banner %}{% endblock %}   
                            
                    </div>
                </div>