<div id="header-wrapper">
    <div class="container">

        <!-- Header -->
        <header id="header">
            <div class="inner">

                <!-- Logo -->
                <h1><a href="index.php" id="logo">TukaTuka</a></h1>

                <!-- Nav -->
                <nav id="nav">
                    <ul>
                        <li class="current_page_item"><a href="index.php">Главная</a></li>
                        <li>
                            <a href="#">Купить</a>
                            <ul>
                                <li><a href="buy.html">Сырье на переработку</a></li>
                                <li><a href="buy-rec.html">Переработанное сырье</a></li>
                                <li><a href="form.html">Добавить объявление</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Продать</a>
                            <ul>
                                <li><a href="sell.html">Сырье на переработку</a></li>
                                <li><a href="sell-rec.html">Переработанное сырье</a></li>
                                <li><a href="form.html">Добавить объявление</a></li>
                            </ul>
                            <li><a href="about-us.html">О нас</a></li>
                    </ul>
                </nav>

            </div>
        </header>

        <!-- Banner -->
        <div id="banner">
            <h2><strong>TukaTuka:</strong> Надежный рынок вторичного сырья
                <br />
            </h2>
            <h3>Хотите узнавать о наших новостях первыми?</h3>

            <!-- Subscribe block -->
            <form action="send.php" method="post">
                <div class="row">
                    <div class="col offset-md-2">
                        <input type="email" name="email" placeholder="Введите E-mail" required>
                    </div>
                    <div class="col" align="left">
                        <button class="icon fa-envelope" type="submit">Да, хочу!</button>
                    </div>
                </div>
            </form>


        </div>

    </div>
</div>