{% extends "header.html" %}
{% block banner %}
<!-- Banner -->
							<div id="banner">
                                {% block moto %}{% endblock %} 
                                <h3>Нужно продать/купить вторичное сырьё? Мы поможем Вам!</h3>
                                
                                <!-- Subscribe block -->
                                        <div class="col" align="center">
                                            <a href="#formaz"><button type="submit">Оставить заявку</button></a>
                                        </div>


							</div>
{% endblock %}                 