{% extends "base.html" %}
{% load static %}
{% block title %}
	<title>TukaTuka</title>
{% endblock %}
{% block header %}
    		{% include "header_index.html" %}
    	{% endblock %}
{% block content %}

			<!-- Main Wrapper -->
				<div id="main-wrapper">
					<div class="wrapper style1">
						<div class="inner">
							
					<div class="wrapper style2">
						<div class="inner">
                            
								<!-- Feature 1 -->
								<section class="container box feature1">
									<div class="row">
										<div class="12u">
											<header class="first major">
												<h2>Наши преимущества</h2>
											</header>
										</div>
									</div>
									<div class="row" align="left">
										<i class="fa fa-check-circle fa-5x" style="color: #4F99C1"></i>
										<div class="10u 12u(mobile)">
											<section>
												<header>
													<h3>Плата только за результат</h3>
												</header>
												<p>Вы платите только в случае успешно выполненной работы.
													Если по Вашей заявке мы не смогли найти требуемого сырья необходимого качества,
													то Вам это ничего не будет стоить!</p><br>
											</section>
										</div>
									</div>
									<div class="row" align="left">
										<i class="fa fa-check-circle fa-5x" style="color: #4F99C1"></i>
										<div class="10u 12u(mobile)">
											<section>
												<header>
													<h3>Привлекаем к сотрудничеству новые предприятия</h3>
												</header>
												<p>Мы осуществляем поиск не только по базам, с которыми
													Вы хорошо знакомы, но и взаимодействуем с недавно появившимися организациями.</p><br>
											</section>
										</div>
									</div>
									<div class="row" align="left">
										<i class="fa fa-check-circle fa-5x" style="color: #4F99C1"></i>
										<div class="10u 12u(mobile)">
											<section>
												<header>
													<h3>Берем на себя ответственность за качество продукции</h3>
												</header>
												<p>Сделка по покупке вторсырья обычно проходит небыстро: удостовериться
													в наличии сырья, доставить его, проверить качество и только потом оплатить.
													Мы берем на себя три первых пункта сделки, предоставляя Вам возможность сэкономить время и деньги!</p>
											</section>
										</div>
									</div>
								</section>

						</div>
					</div>
							</div>
					</div>
					<div class="wrapper style3">
						<div class="inner">
							<div class="container">
								<div class="row">
									<div class="8u 12u(mobile)">
									
										<!-- Article list -->
											<section class="container box feature1">
												<h2 class="icon fa-pencil-square-o">Заявка на поиск вторичного сырья</h2>

												<form>

												</form>

												<!-- Excerpt -->
												{% for new in news %}
													<article class="box excerpt">
														<a class="image left" href="{% url 'news' new_id=new.id %}#main-wrapper"><img src="{{ new.photo.url }}" class="d-none d-md-block" style="width: 333; heigth: 120;" alt="Вторичные переработанные гранулы" /><img src="{{ new.photo.url }}" class="d-md-none" style="width:85px; height: 85px;" alt="Вторичные переработанные гранулы" /></a>
														<div>
															<header>
																<span class="date">{{ new.date }}</span>
                                                                <h3><a href="{% url 'news' new_id=new.id %}#main-wrapper">{{new.title}}</a></h3>
															</header>
															<p>{{new.description|linebreaksbr|truncatewords:30}}<a href="{% url 'news' new_id=new.id %}#main-wrapper">.</a>
															</p>
														</div> 
													</article>
                                                {% endfor %}
                                                
											</section>
								      </div>
        
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
{% endblock %}