{% extends "base.html" %}
{% load static %}
{% block title %}
	<title>TukaTuka</title>
{% endblock %}
{% block header %}
    		{% include "header_index.html" %}
    	{% endblock %}
{% block content %}

			<!-- Main Wrapper -->
				<div id="main-wrapper">
					<div class="wrapper style1">
						<div class="inner">
							
					<div class="wrapper style2">
						<div class="inner">
                            
								<!-- Feature 1 -->
								<section class="container box feature1">
									<div class="row">
										<div class="12u">
											<header class="first major">
												<h2>Наши ближайшие планы</h2>

											</header>
										</div>
									</div>
									<div class="row">
										<div class="4u 12u(mobile)">
											<section>
												<a class="image featured"><img src="{% static "images/pic01.jpg" %}" alt="Вторичные переработанные гранулы" /></a>
												<header class="second icon fa-user">
													<h3>Запуск пилотного</h3>
													<p>проекта</p>
												</header>
											</section>
										</div>
										<div class="4u 12u(mobile)">
											<section>
												<a class="image featured"><img src="{% static "images/pic02.jpg" %}" alt="Вторичная бумага, макулатура" /></a>
												<header class="second icon fa-cog">
													<h3>Увеличение числа</h3>
													<p>фракций</p>
												</header>
											</section>
										</div>
										<div class="4u 12u(mobile)">
											<section>
												<a class="image featured"><img  src="{% static "images/pic03.jpg" %}" alt="Металлом" /></a>
												<header class="second icon fa-bar-chart-o">
													<h3>Расширение списка</h3>
													<p>продуктов</p>
												</header>
											</section>
										</div>
									</div>
									<div class="row">
										<div class="12u">
											<p style="padding-top: 1em;">Запуск пилотного проект с пластиками и пластмассами. На втором этапе число фракций увеличится за счет добавления макулатуры. После чего ассортимент нашей платформы будет дополнен металлом.</p>
										</div>
									</div>
								</section>

						</div>
					</div>
							</div>
					</div>
					<div class="wrapper style3">
						<div class="inner">
							<div class="container">
								<div class="row">
									<div class="8u 12u(mobile)">
									
										<!-- Article list -->
											<section class="box article-list">
												<h2 class="icon fa-file-text-o">Наши новости</h2>

												<!-- Excerpt -->
												{% for new in news reversed %}
													<article class="box excerpt">
														<a class="image left" href="news/20.03.18.html#main-wrapper"><img src="{{ new.photo.url }}" class="d-none d-md-block" style="width:260px; height: 278px;" alt="Вторичные переработанные гранулы" /><img src="{{ new.photo.url }}" class="d-md-none" style="width:85px; height: 85px;" alt="Вторичные переработанные гранулы" /></a>
														<div>
															<header>
																<span class="date">{{ new.date }}</span>
                                                                <h3><a href="news/20.03.18.html#main-wrapper">{{new.title}}</a></h3>
															</header>
															<p>{{new.description|linebreaksbr|truncatewords:40}}<a href="news/20.03.18.html#main-wrapper">.</a>
															</p>
														</div> 
													</article>
                                                {% endfor %}
                                                
											</section>
								      </div>
        
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
{% endblock %}