{% extends "base.html" %}
{% load static %}
{% block title %}
	<title>TukaTuka</title>
{% endblock %}
{% block header %}
    		{% include "header_index.html" %}
    	{% endblock %}
{% block content %}

			<!-- Main Wrapper -->
				<div id="main-wrapper">
					<div class="wrapper style1">
						<div class="inner">
							
					<div class="wrapper style2">
						<div class="inner">
                            
								<!-- Feature 1 -->
								<section class="container box feature1">
									<div class="row">
										<div class="12u">
											<header class="first major">
												<h2>Наши преимущества</h2>
											</header>
										</div>
									</div>
									<div class="row" align="left">
										<i class="fa fa-check-circle fa-5x" style="color: #4F99C1"></i>
										<div class="10u 12u(mobile)">
											<section>
												<header>
													<h3>Простота</h3>
												</header>
												<p>Менеджеры уточнят заявку и в кратчайшие сроки предложат выгодные условия сотрудничества</p><br>
											</section>
										</div>
									</div>
									<div class="row" align="left">
										<i class="fa fa-check-circle fa-5x" style="color: #4F99C1"></i>
										<div class="10u 12u(mobile)">
											<section>
												<header>
													<h3>Новые партнеры</h3>
												</header>
												<p>Сотрудничаем с недавно открывшимися предприятиями, новыми игроками отрасли</p><br>
											</section>
										</div>
									</div>
									<div class="row" align="left">
										<i class="fa fa-check-circle fa-5x" style="color: #4F99C1"></i>
										<div class="10u 12u(mobile)">
											<section>
												<header>
													<h3>Ответственность за качество</h3>
												</header>
												<p>Тщательно проверяем сырье, гарантируем качество продукции, привозим в удобное время</p>
											</section>
										</div>
									</div>
								</section>

						</div>
					</div>
							</div>
					</div>
					<div class="wrapper style3">
						<div class="inner">
							<div class="container">
								<div class="row">
									<div class="8u 12u(mobile)">
									
										<!-- Article list -->
											<section id="formaz" class="container box feature1">
												<h2 class="icon fa-pencil-square-o">Заявка на поиск вторичного сырья</h2>
											<div class="col" align="center">
												<form class="5u" action="" method="post">
													{% csrf_token %}
													<label align="left">E-mail</label>
													{{ form.email }}<br>

													<label align="left">Имя</label>
													{{ form.name }}<br>

													<label align="left">Телефон</label>
													{{ form.phone_number }}<br>

													<label align="left">Описание</label>
													{{ form.description }}<br>

													<label align="left">Максимально допустимая цена</label>
													{{ form.price }}<br>
													<button type="submit" >Оставить заявку</button>
												</form>
											</div>


												
												
                                                
											</section>
								      </div>
        
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
{% endblock %}