{% extends "base.html" %}
{% block content %}
<div id="main-wrapper">
    <div class="wrapper style2">
        <div class="inner">
            <div class="container">
                <div class="row">
                    <div class="4u 12u(mobile)">
                        <div id="sidebar">
                            <!-- Sidebar -->

                            <section>
                                <header class="major">
                                    <h1>Личный кабинет</h1>
                                </header>
                                <nav id="nav_v">
                                    <ul>
                                       {% if author %} <li  class="current_page_item"><a href="{% url 'lichniy-kabinet' %}">Мои объявления</a></li>
                                       {% else %} <li ><a href="{% url 'lichniy-kabinet' %}">Мои объявления</a></li> {% endif %} 
                                      {% if author %}  <li><a href="{% url 'lk_data' %}">Мои данные</a></li>{% else %}<li class="current_page_item"><a href="{% url 'lk_data' %}">Мои данные</a></li>{% endif %}
                                    </ul>
                                </nav>
                            </section>
                        </div>
                    </div>
                    <div class="8u 12u(mobile) important(mobile)">
                        <div id="content">
                            <!-- Content -->
                          {% block objava %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}