{% extends "base.html" %}
{% load static %}
{% block title %}
<title>О нас - TukaTuka</title>
{% endblock %}
{% block content %}

<!-- Main Wrapper -->
<div id="main-wrapper">
    <div class="wrapper style2">
        <div class="inner">
            <div class="container">
                <div id="content">

                    <!-- Content -->

                    <article>
                        <header class="major">
                            <h1>Карта предприятий</h1>
                        </header>
                        <!-- Yandex maps -->
                        <div class="d-none d-md-block" id="map" style="height:600px"></div>

                    </article>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
ymaps.ready(init);

function init () {
    var myMap = new ymaps.Map('map', {
            center: [55.76, 37.64],
            zoom: 8
        });

    $.ajax({
        dataType: 'json',
        url: "{% static "assets/list.json" %}",
        async: false,
        success: function (data) {
           a = data;
        }
    });
    let uniq = [...new Set(a)];

    let clusterer = new ymaps.Clusterer({ clusterDisableClickZoom: true,
                                          preset: 'islands#darkGreenClusterIcons',
                                          clusterDisableClickZoom: false,
                                          clusterHideIconOnBalloonOpen: false,
                                          geoObjectHideIconOnBalloonOpen: false});
    for (let i = 0; i < uniq.length; i++) {
        let geo = ymaps.geocode(uniq[i], {results: 1});
        geo.then(function (res) {
                res.geoObjects.get(0).options.set('preset', 'islands#darkGreenFactoryIcon');
                clusterer.add(res.geoObjects.get(0));

            });
                myMap.geoObjects.add(clusterer);
    }

}
</script>
{% endblock %}