{% extends "base.html" %}
{% load static %}
{% block title %}
<title>О нас - TukaTuka</title>
{% endblock %}
{% block content %}

<!-- Main Wrapper -->
<div id="main-wrapper">
    <div class="wrapper style2">
        <div class="inner">
            <div class="container">
                <div id="content">

                    <!-- Content -->

                    <article>
                        <header class="major">
                            <h1>Карта загруженности</h1>
                        </header>
                        <!-- Yandex maps -->
                        <div class="d-none d-md-block" id="map" style="width:800px; height:450px"></div>

                    </article>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static "assets/js/map.js" %}"></script>
{% endblock %}