{% extends "base.html" %}
{% block title %}
	<title>Новость {{ news.title|lower }}  - TukaTuka</title>
{% endblock %}
{% block header %}
{% include "header_main.html" %}
{% endblock %}
{% block content %}

	<div id="main-wrapper">
					<div class="wrapper style3">
						<div class="inner">
							<div class="container">
								<div class="row">
									<div class=" 12u(mobile)">

										<!-- Article list -->
											<section class="box article-list">
												<h2 class="icon fa-calendar-check-o">{{ news.date }}</h2>

												<!-- Excerpt -->
													<article class="box excerpt">
														<a class="image left"><img src="{{ news.photo.url }}" class="d-none d-md-block" style="width:260px; height: 278px;" alt="Вторичные переработанные гранулы" /><img src="{{ news.photo.url }}" class="d-md-none" style="width:85px; height: 85px;" alt="Вторичные переработанные гранулы" /></a>
														<div>
															<header>
																<h1>{{ news.title }}</h1>
															</header>
															<p>{{ news.description }} 
															</p>
														</div>
                                                        <br>
													</article>                         
											</section>
								      </div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
{% endblock %}