{% extends "auth_form.html" %}

{% block title %}<title> Восстановление пароля</title> {% endblock %}

{% block content %}
    <h1>Забыли пароль?</h1>
    <form name="loginform" id="loginform" method="post">
    	<p><label>Введите адрес почты, под которой вы регистрировались для отправки нового пароля</label></p><br>
    	 {% csrf_token %}
        {{ form.as_p }}
        <p class="submit">
                <button type="submit" class="button button-primary button-large" style="margin-top: 15px; margin-bottom: -10px;">Отправить</button>
            </p>
    </form>
{% endblock %}