{% extends "auth_form.html" %}

{% block title %}<title>Восстановление пароля</title>{% endblock %}

{% block content %}
    <h1>Восстановление пароля</h1>
    {% if validlink %}
        <p>Введите свой новый пароль дважды:</p>
        <form action="." method="post">
            {% csrf_token %}
           <p><label for="user_login">Пароль<br />{{ form.new_password1 }}</label>
            </p>
            <p><label for="user_pass">Повторить пароль<br />
                {{ form.new_password2 }} {{ form.non_field_errors }}</label>
            </p> 

           
           <p class="submit">
                <button type="submit" class="button button-primary button-large">Сменить пароль</button>
            </p>
        </form>
    {% else %}
        <p>Ссылка недейсвительна, возможно она уже была использована. Воспользуйтесь сбросом пароля снова.</p>
    {% endif %}
{% endblock %}