{% extends "base.html" %}

{% block title %}
<title>Регистрация - TukaTuka</title>
{% endblock %}

{% block content %}

			<!-- Main Wrapper -->
				<div id="main-wrapper">
					<div class="wrapper style3">
						<div class="inner">
							<div class="container">
								<div class="row justify-content-center">
									<div class="5u 12u(mobile)">
                                        <div id="content">
                                            <article>
													<header class="major">
														<h1>Регистрация</h1>
													</header>
                                                <!-- Form section -->
                                                <form name="registerForm" action="" method="post">
                                                    {% csrf_token %}
           											 {{ form }}
                                                    <input type="submit" value="Зарегистрироваться"><br><br>   
                                                </form>
                                            </article>
                                        </div>
								      </div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
    {% endblock %}    
			