{% extends "base.html" %}
{% load static %}
{% block title %}
{% if category == 1 %} 
<title>Купить вторсырье на переработку - TukaTuka</title>
{% elif category == 2 %} 
<title>Купить переработанное сырье - TukaTuka</title>
{% elif category == 3 %} 
<title>Продать вторсырье на переработку - TukaTuka</title>
{% elif category == 4 %} 
<title>Продать переработанное сырье - TukaTuka</title>
{% endif %}
{% endblock %}
{% block script %}



{% endblock %}
{% block content %}
<!-- Main Wrapper -->
<div id="main-wrapper">
    <div class="wrapper style2">
        <div class="inner">
            <div class="container">
                <div class="row">     
                    <div class="12u(mobile) important(mobile)">
                        <div id="content">

                            <!-- Content -->
												<article>
                                                    <header class="major">
                                                        
                                    <header class="major">
                                    {% if category == 1 %} 
                                    <h1>Купить вторсырье на переработку</h1>
                                    {% elif category == 2 %} 
                                    <h1>Купить переработанное сырье</h1>
                                    {% elif category == 3 %} 
                                    <h1>Продать вторсырье на переработку</h1>
                                    {% elif category == 4 %} 
                                    <h1>Продать переработанное сырье</h1>
                                    {% endif %}   
                                    </header>

                                                        {% if category == 2 or category == 4 %}
                                                    <form class="formstyle" name="buyForm" enctype="multipart/form-data" action="" method="post">
                                                      <div class="row justify-content-center">

                                                          <div>
                                                            Цена, руб/тонна:
                                                            <input name="ot" type="number" placeholder="от"><br>
                                                            <input name="do" type="number" placeholder="до"><br>
                                                        </div>
                                                        <div>
                                                            Объем, тонн:
                                                            <input name="ot" type="number" placeholder="от"><br>
                                                            <input name="do" type="number" placeholder="до"><br>
                                                        </div>
                                                          <div>
                                                            Категория:<br>
                                                            {% csrf_token %} <!--{{ form.as_p }}-->
                                                            <input name="category" type="radio"> Гранула ПП<br>
                                                            <input name="category" type="radio"> Гранула ПНД<br>
                                                            <input name="category" type="radio"> Гранула ПВД<br>
                                                            <input name="category" type="radio"> Стрейч<br>
                                                            <input name="category" type="radio"> Другое<br>
                                                        </div>
                                                        <div>
                                                            Наличие фотографии:<br>
                                                            <input name="foto" type="radio"> Есть<br>
                                                            <input name="foto" type="radio"> Отсутствует<br><br>
                                                        </div>
                                                        <div>
                                                            <input type="submit" value="Применить"><br><br>
                                                        </div>
                                                        </div>
                                                    </form>
                                                    {% else %}
                                                    <form class="formstyle" name="buyForm" enctype="multipart/form-data" action="" method="post">
                                                      <div class="row justify-content-center">
                                                          
                                                          <div>
                                                            Цена, руб/тонна:
                                                            <input name="ot" type="number" placeholder="от"><br>
                                                            <input name="do" type="number" placeholder="до"><br>
                                                        </div>
                                                        <div>
                                                            Объем, тонн:
                                                            <input name="ot" type="number" placeholder="от"><br>
                                                            <input name="do" type="number" placeholder="до"><br>
                                                        </div>
                                                          <div>
                                                            Категория:<br>
                                                            {% csrf_token %} <!--{{ form.as_p }}-->
                                                            <input name="category" type="radio"> ПП<br>
                                                            <input name="category" type="radio"> ПНД<br>
                                                            <input name="category" type="radio"> ПВД<br>
                                                            <input name="category" type="radio"> Стрейч<br>
                                                            <input name="category" type="radio"> Другое<br>
                                                        </div>
                                                        <div>
                                                            Наличие фотографии:<br>
                                                            <input name="foto" type="radio"> Есть<br>
                                                            <input name="foto" type="radio"> Отсутствует<br><br>
                                                        </div>
                                                        <div>
                                                            <input type="submit" value="Применить"><br><br>
                                                        </div>
                                                        </div>
                                                    </form>
                                                        {% endif %}
													</header>


                                <table border="0" cellpadding="0" cellspacing="0" id="sheet0" class="bordered">
                                    <col class="col0">
                                    <col class="col1">
                                    <col class="col2">
                                    <col class="col3">
                                    <col class="col4">
                                    <col class="col5">
                                    <thead>
                                        <tr class="row1">
                                            <th class="column0 style1 s ">№</th>
                                            <th class="column1 style1 s d-none d-md-table-cell">Фото</th>
                                            <th class="column2 style1 s">Наименование продукции</th>
                                            <th class="column3 style1 s d-none d-md-table-cell">Адрес</th>
                                            <th class="column4 style1 s">Цена</th>
                                            <th class="column5 style1 s d-none d-md-table-cell">Объем</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for ad in ad_list reversed %}
                                        <tr class="row0" onclick="window.location.href='{% url 'ad' ad.id %}'; return false">
                                            <td class="column5 style4 s">{{ forloop.counter }}</td>
                                            <td class="column0 d-none d-md-table-cell style4 null"><a href="{% url 'ad' ad.id %}">{% if ad.photo %}<img src="
                                         {{ ad.photo.url }}" border="0" />{% endif %}</a></td>
                                            <td class="column1 style1 s"><a href="{% url 'ad' ad.id %}">{{ ad.title }}</a></td>
                                            <td class="column2 d-none d-md-table-cell style4 s"><a href="{% url 'ad' ad.id %}">{{ ad.company_adress }}</a></td>
                                            <td class="column3 style4 null"><a href="{% url 'ad' ad.id %}">{% if ad.price == 0 or ad.price == None %}
                                            {% else %} {{ ad.price }} руб/тонна{% endif %}</a></td>
                                            <td class="column4 d-none d-md-table-cell style5 s"><a href="{% url 'ad' ad.id %}">{% if ad.volume == 0 %}
                                            {% else %}  {{ ad.volume }} тонн{% endif %}</a></td>

                                        </tr>
                                        {% endfor %}
                                                </tbody>
    </table>        
                                                </article>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


{% endblock %}