{% load static %}
<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="shortcut icon" href="http://static.tumblr.com/1ccbc9v/sCFnc0fp4/apple-touch-icon-72x72.png">

	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Cardo:400,400italic' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="{% static "assets/css/test/reset.css" %}"/> <!-- CSS reset -->
	<link rel="stylesheet" href="{% static "assets/css/test/style.css" %}"/> <!-- Resource style -->
	<link rel="stylesheet" href="{% static "assets/css/test/component.css" %}"/> <!-- Resource style -->
	<script src="{% static "assets/js/test/modernizr.js" %}"></script> <!-- Modernizr -->


	<title>Elegance Portfolio Template</title>
</head>
<body>
	<header class="cd-header">
		<div class="cd-logo"><a href="#0"><img src="http://static.tumblr.com/1ccbc9v/0Nlnbwlt4/logo-elegant.png" alt="Logo"></a></div>

		<a class="cd-primary-nav-trigger" href="#0">
			<span class="cd-menu-text">Menu</span><span class="cd-menu-icon"></span>
		</a> <!-- cd-primary-nav-trigger -->
	</header>

	<nav>
		<ul class="cd-primary-nav">
			<li class="cd-label">Who</li>

			<li><a href="#0">About Us</a></li>
			<li><a href="#0">Blog</a></li>

			<li class="cd-label">What</li>

			<li><a href="#0">See Our Projects</a></li>
			<li><a href="#0">Project Page</a></li>

			<li class="cd-label">Where</li>

			<li><a href="#0">Contact Us</a></li>

			<li class="cd-label">Follow us</li>

			<li class="cd-social cd-facebook"><a href="#0">Facebook</a></li>
			<li class="cd-social cd-instagram"><a href="#0">Instagram</a></li>
			<li class="cd-social cd-dribbble"><a href="#0">Dribbble</a></li>
			<li class="cd-social cd-twitter"><a href="#0">Twitter</a></li>
		</ul>
	</nav>

	<section class="cd-intro-about">
		<h1><a href="#more"><img src="http://cdn.onnoschwanen.com/images/ui/arrow-down.svg"/></a></h1>
	</section>

	<main class="cd-main-content-about">
		<div id="more" class="cd-container" style="margin-bottom: 0px;">


<!-- Section 1 (Short text about) -->

			<div class="cd-container-txt">
				<p>
					That's an interesting thing about design defines so much more than what products have a very minimalist way. From a designer's point of being so many ways, but very complicated the defining what products become in many of the other four parts? True simplicity. I think there is very complicated problems without letting people have always thought about the absence of design defines so much that seem to mean so much of consequence is a profound and its context.

There's no other four parts? Powerpoint. Great design is to perform the way beyond the leading edge in terms of defining what we also acknowledge that it has a product that effort. Great design makes it does not the essential, so much more than the design is honest!
				</p>
			</div>
		</div>


<!-- Section 2 (Services) -->

			<div class="cd-main-services">
				<div class="cd-main-content-services-img">
					<img src="http://38.media.tumblr.com/05b4c19b53f62bf5b85a2d845122f977/tumblr_na06qtTQ101tubinno1_1280.jpg">
				</div>
				<div class="cd-main-content-services-txt">
						<h1>Services</h1>

					<div class="cd-main-content-services-txt-clmn">
						<div class="cd-main-content-services-txt-clmn-1">
							<p>We’ll work with you to define a strong visual identity. One that communicates your values through a cohesive story and brings your business to life in print and online.</p>
						</div>
						<div class="cd-main-content-services-txt-clmn-2">
							<p>→  Branding <br>
							   →  Visual Identity <br>
							   →  Web & Digital Design <br>
							   →  Annual Reports <br>
							   →  Books & Brochures <br>
							   →  Programs & Editorial <br>
							   →  Creative Consultancy</p>
						</div>
					</div>
				</div>
			</div>


		<!-- Section 3 (Footer) -->

		<div class="footer">
			<div class="footer-content">
					<div class="footer-clmn1">© 2014 Designed and Developed by <a href="http://diogodantas.com">Diogo Dantas</a></div>
					<div class="footer-clmn2">Email: <a href="mailto:imdiogodantas@gmail.com">imdiogodantas@gmail.com</a></div>
			</div>
		</div>

	</main>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{% static "assets/js/test/jquery-2.1.1.js" %}"></script>
<script src="{% static "assets/js/test/main-test.js" %}"></script> <!-- Resource jQuery -->

<!-- Script for smooth scrolling -->
<script>
$(function() {
  $('a[href*=#]:not([href=#])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html,body').animate({
          scrollTop: target.offset().top
        }, 1000);
        return false;
      }
    }
  });
});
</script>

</body>
</html>