{% load static %}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="shortcut icon" href="http://static.tumblr.com/1ccbc9v/sCFnc0fp4/apple-touch-icon-72x72.png">

	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="{% static "assets/css/test/reset.css" %}"/> <!-- CSS reset -->
	<link rel="stylesheet" href="{% static "assets/css/test/style.css" %}"/> <!-- Resource style -->
	<link rel="stylesheet" href="{% static "assets/css/test/component.css" %}"/> <!-- Resource style -->
	<link rel="stylesheet" href="{% static "assets/css/test/animated-bg.css" %}"/> <!-- Resource style -->
	<script src="{% static "assets/js/test/modernizr.js" %}"></script> <!-- Modernizr -->

	<title>Elegance Portfolio Template</title>
</head>
<body>
	<header class="cd-header">
		<div class="cd-logo"><a href="#0"><img src="http://static.tumblr.com/1ccbc9v/0Nlnbwlt4/logo-elegant.png" alt="Logo"></a></div>

		<a class="cd-primary-nav-trigger" href="#0">
			<span class="cd-menu-text">Меню</span><span class="cd-menu-icon"></span>
		</a> <!-- cd-primary-nav-trigger -->
	</header>

	<nav>
		<ul class="cd-primary-nav">
			<li class="cd-label">Who</li>

			<li><a href="#0">О нас</a></li>
			<li><a href="#0">Blog</a></li>

			<li class="cd-label">Сырье</li>

			<li><a href="#0">Купить</a></li>
			<li><a href="#0">Продать</a></li>

			<li class="cd-label">Follow us</li>

			<li class="cd-social cd-linkedin"><a href="#0">Facebook</a>facebook</li>
			<li class="cd-social cd-instagram"><a href="#0">Linkedin</a>linkedin</li>
			<li class="cd-social cd-dribbble"><a href="#0">email</a>email</li>
			<li class="cd-social cd-telegram"><a href="#0">Telegram</a>telega</li>
		</ul>
	</nav>


				<div id="large-header" class="large-header">
					<canvas id="demo-canvas"></canvas>
					<h1 class="main-title">Нужно продать/купить вторичное сырьё? Мы поможем Вам!</span></h1>
				</div>





<!-- Section 1 (Tell The World About Yourself) -->

	<main id="more" class="cd-main-content" style="margin-top: 8rem;">
		<div class="cd-container">
			<h4 style="color: rgb(212,175,55);">Who We Are</h4>
			<h1>Tell The World About Yourself</h1>
			<p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc, fiant sollemnes in futurum.</p>

			<a href="#"><div class="read-more-btn">Read More About Us</div></a>
		</div>

		<div class="cd-container" style="margin-top: 10rem;">
			<h4 style="color: rgb(212,175,55);">What We Do</h4>
			<h1>Show Your Amazing Work</h1>
		</div>

		<div class="cd-container-more-about">
			<div class="row">
				<a href="#"><div class="cd-container-clmn-1">
				</div></a>
				<a href="#"><div class="cd-container-clmn-2">
				</div></a>
				<a href="#"><div class="cd-container-clmn-3">
				</div></a>
				<a href="#"><div class="cd-container-clmn-4">
				</div></a>
			</div>

			<div class="row">
				<a href="#"><div class="cd-container-clmn-5">
				</div></a>
				<a href="#"><div class="cd-container-clmn-6">
				</div></a>
				<a href="#"><div class="cd-container-clmn-7">
				</div></a>
				<a href="#"><div class="cd-container-clmn-8">
				</div></a>
			</div>
		</div>


<!-- Section 2 (The Amazing People Behind This) -->

		<div class="cd-container" style="margin-top: 10rem;">
			<h4 style="color: rgb(212,175,55);">Who We Are</h4>
			<h1>The Amazing People Behind This</h1>
			<p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.</p>

			<div class="cd-container-people">
				<div class="cd-container-people-clmn-1">
						<img src="http://static.tumblr.com/1ccbc9v/kUhnbwf0a/tobias-van-schneider.png">
					<div class="cd-container-people-info">
						<h4>Ceo</h4>
						<h2>Tobias Schneider</h2>
						<p>Lorem ipsum dolor sit amet, conse tetuer adi piscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.</p>
					</div>
				</div>
				<div class="cd-container-people-clmn-2">
						<img src="http://static.tumblr.com/1ccbc9v/GiGnbwf0w/jack-knife.png">
					<div class="cd-container-people-info">
						<h4>Designer</h4>
						<h2>Jack Knife</h2>
						<p>Lorem ipsum dolor sit amet, conse tetuer adi piscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.</p>
					</div>
				</div>
				<div class="cd-container-people-clmn-3">
						<img src="http://static.tumblr.com/1ccbc9v/X4Dnbwf3c/ricki-hall.png">
					<div class="cd-container-people-info">
						<h4>Developer</h4>
						<h2>Ricki Hall</h2>
						<p>Lorem ipsum dolor sit amet, conse tetuer adi piscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.</p>
					</div>
				</div>
			</div>
		</div>


<!-- Section 3 (We Like To Write) -->

		<div class="cd-container" style="margin-top: 10rem;">
			<h4 style="color: rgb(212,175,55);">Last Post</h4>
			<h1>We Like to Write</h1>


			<div class="cd-container-home-blog">
				<div class="cd-container-blog-clmn-1">
						<img src="http://demo.select-themes.com/stockholm15/wp-content/uploads/2014/06/office3.jpg">
				</div>
				<div class="cd-container-blog-clmn-2">
					<div class="cd-container-blog-info">
						<h4>14 September 2014</h4>
						<h2>Change Your Space</h2>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>

						<a href="#"><div class="read-more-btn-small">Read</div></a>
					</div>
				</div>
			</div>
		</div>

			<div class="cd-container-blog-read-posts">
				<a href="#"><div class="read-more-posts-btn">More From Our Blog</div></a>
			</div>




<!-- Section 5 (Footer) -->

		<div class="footer">
			<div class="footer-content">
					<div class="footer-clmn1">© TukaTuka. 2018-2019 Все права защищены</div>
					<div class="footer-clmn2">Email: <a href="mailto:info@tukatuka.ru">info@tukatuka.ru</a></div>
			</div>
		</div>

	</main>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{% static "assets/js/test/jquery-2.1.1.js" %}"></script>
<script src="{% static "assets/js/test/main-test.js" %}"></script> <!-- Resource jQuery -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5wGdqrTcgLdOPzMbASsbiHkloxc6v2rE"></script>

		<script src="{% static "assets/js/test/TweenLite.min.js" %}"></script>
		<script src="{% static "assets/js/test/EasePack.min.js" %}"></script>
		<script src="{% static "assets/js/test/rAF.js" %}"></script>
		<script src="{% static "assets/js/test/demo-1.js" %}"></script> <!--красивые кружочки-->

<!-- Script for smooth scrolling -->
<script>
$(function() {
  $('a[href*=#]:not([href=#])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html,body').animate({
          scrollTop: target.offset().top
        }, 1000);
        return false;
      }
    }
  });
});
</script>

</body>
</html>