{% load static %}
<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="shortcut icon" href="http://static.tumblr.com/1ccbc9v/sCFnc0fp4/apple-touch-icon-72x72.png">

	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="{% static "assets/css/test/reset.css" %}"/> <!-- CSS reset -->
	<link rel="stylesheet" href="{% static "assets/css/test/style.css" %}"/> <!-- Resource style -->
	<link rel="stylesheet" href="{% static "assets/css/test/component.css" %}"/> <!-- Resource style -->
	<script src="{% static "assets/js/test/modernizr.js" %}"></script> <!-- Modernizr -->

	<title>Elegance Portfolio Template</title>
</head>
	<header class="cd-header">
		<div class="cd-logo"><a href="{% url 'test_index' %}"><img src="http://static.tumblr.com/1ccbc9v/0Nlnbwlt4/logo-elegant.png" alt="Logo"></a></div>

		<a class="cd-primary-nav-trigger" href="#0">
			<span class="cd-menu-text">Menu</span><span class="cd-menu-icon"></span>
		</a> <!-- cd-primary-nav-trigger -->
	</header>

	<nav>
		<ul class="cd-primary-nav">
			<li class="cd-label">Кто</li>

			<li><a href="{% url 'test_about' %}">О нас</a></li>

			<li class="cd-label">Сырье</li>

			<li><a href="{% url 'test_buy' %}">Купить</a></li>
			<li><a href="{% url 'test_sell' %}">Продать</a></li>

			<li class="cd-label">Follow us</li>

			<li class="cd-social cd-linkedin"><a href="#0">Facebook</a>facebook</li>
			<li class="cd-social cd-instagram"><a href="#0">Linkedin</a>linkedin</li>
			<li class="cd-social cd-dribbble"><a href="#0">email</a>email</li>
			<li class="cd-social cd-telegram"><a href="#0">Telegram</a>telega</li>
		</ul>
	</nav>

	<section class="cd-intro-contact">
	</section>


	<main id="more" class="cd-main-content" style="margin-top: 8rem;">
		<div class="cd-container">
				<h4 style="color: rgb(212,175,55);">This is it!</h4>
				<h1>Contact Us</h1>
		</div>

		<div class="cd-container-contact">
			<div class="square-1">
				<hr style="margin-left: 2rem; margin-top: 2rem; width: 2rem; height: 4px; background-color: white; ">
				<h2>Rua Serpa Pinto, Lisbon, Portugal</h2>
			</div>
			<div class="square-2">
			</div>
			<div class="square-3">
				<p>Good design as little design as possible. Good design is to chance. My goal is making something memorable and especially the consumer. Good design is aesthetic. Care and aesthetic. Good design emphasises the consumer. It does not only functional.</p>
			</div>
			<div class="square-4">
				<hr style="margin-left: 2rem; margin-top: 2rem; width: 2rem; height: 4px; background-color: white; ">
				<h2>+88 (0) 101 0000 000 <br> +88 (0) 101 0000 000</h2>
			</div>
		</div>

			<div class="cd-container">
				<a href="mailto:youremail@yourdomain.com"><div class="read-more-btn">Shot us an Email</div></a>
			</div>


<!-- Footer -->

		<div class="footer">
			<div class="footer-content">
					<div class="footer-clmn1">© TukaTuka. 2018-2019 Все права защищены</div>
					<div class="footer-clmn2">Email: <a href="mailto:info@tukatuka.ru">info@tukatuka.ru</a></div>
			</div>
		</div>

	</main>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{% static "assets/js/test/jquery-2.1.1.js" %}"></script>
<script src="{% static "assets/js/test/main-test.js" %}"></script> <!-- Resource jQuery -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5wGdqrTcgLdOPzMbASsbiHkloxc6v2rE"></script>

<!-- Script for smooth scrolling -->
<script>
$(function() {
  $('a[href*=#]:not([href=#])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html,body').animate({
          scrollTop: target.offset().top
        }, 1000);
        return false;
      }
    }
  });
});
</script>

</body>
</html>