{% load static %}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="shortcut icon" href="http://static.tumblr.com/1ccbc9v/sCFnc0fp4/apple-touch-icon-72x72.png">

    <script src="https://kit.fontawesome.com/079ae4b1a8.js"></script>

	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="{% static "assets/css/test/reset.css" %}"/> <!-- CSS reset -->
	<link rel="stylesheet" href="{% static "assets/css/test/style.css" %}"/> <!-- Resource style -->
	<link rel="stylesheet" href="{% static "assets/css/test/component.css" %}"/> <!-- Resource style -->
	<link rel="stylesheet" href="{% static "assets/css/test/animated-bg.css" %}"/> <!-- Resource style -->
	<script src="{% static "assets/js/test/modernizr.js" %}"></script> <!-- Modernizr -->

	<title>TukaTuka</title>
</head>
<body>
	<header class="cd-header">
		<div class="cd-logo"><a href="{% url 'test_index' %}"><img src="{% static "images/logo-tuka.png" %}" alt="Logo"></a></div>

		<a class="cd-primary-nav-trigger" href="#0">
			<span class="cd-menu-text">Меню</span> <span class="cd-menu-icon"></span>
		</a> <!-- cd-primary-nav-trigger -->
	</header>

	<nav>
		<ul class="cd-primary-nav">
			<li class="cd-label">Кто</li>

			<li><a href="{% url 'test_about' %}">О нас</a></li>

			<li class="cd-label">Сырье</li>

			<li><a href="{% url 'test_buy' %}">Купить</a></li>
			<li><a href="{% url 'test_sell' %}">Продать</a></li>
		</ul>
	</nav>


				<div id="large-header" class="large-header">
					<canvas id="demo-canvas"></canvas>
					<h1 class="main-title">Нужно продать/купить вторичное сырьё? Мы поможем Вам!</span></h1>
				</div>





<!-- Section 1 (Tell The World About Yourself) -->

	<main id="more" class="cd-main-content" style="margin-top: 8rem;">
		<div class="cd-container">
			<h4 style="color: rgb(212,175,55);">Чем мы отличаемся</h4>
			<h1>Наши преимущества</h1>
			<ul style="margin-top: 3rem;">
				<li><p><i class="fa fa-check-circle">&nbsp;&nbsp;</i>Простота. Менеджеры уточнят заявку и в кратчайшие сроки предложат выгодные условия сотрудничества</p></li>
				<li><p><i class="fa fa-check-circle">&nbsp;&nbsp;</i>Новые партнеры. Сотрудничаем с недавно открывшимися предприятиями, новыми игроками отрасли</p></li>
				<li><p><i class="fa fa-check-circle">&nbsp;&nbsp;</i>Ответственность за качество. Тщательно проверяем сырье, гарантируем качество продукции, привозим в удобное время</p></li>
			</ul>
		</div>

		<div class="cd-container" style="margin-top: 5rem;">
			<h4 style="color: rgb(212,175,55);">Оставьте заявку</h4>
			<h1>Заявка на поиск вторичного сырья</h1>
		</div>

		<div class="cd-container">
            <form class="" action="" method="post">
				{% csrf_token %}
				<label align="left">E-mail</label>
				{{ form.email }}<br>

				<label align="left">Имя</label>
				{{ form.name }}<br>

				<label align="left">Телефон</label>
				{{ form.phone_number }}<br>

				<label align="left">Описание</label>
				{{ form.description }}<br>

				<label align="left">Максимально допустимая цена</label>
				{{ form.price }}<br>
				<button type="submit" class="read-more-posts-btn">Оставить заявку</button>
			</form>
		</div>



<!-- Section (Footer) -->

		<div class="footer">
			<div class="footer-content">
					<div class="footer-clmn1">© TukaTuka. 2018-2019 Все права защищены</div>
					<div class="footer-clmn2">Email: <a href="mailto:info@tukatuka.ru">info@tukatuka.ru</a></div>
			</div>
		</div>

	</main>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{% static "assets/js/test/jquery-2.1.1.js" %}"></script>
<script src="{% static "assets/js/test/main-test.js" %}"></script> <!-- Resource jQuery -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5wGdqrTcgLdOPzMbASsbiHkloxc6v2rE"></script>

		<script src="{% static "assets/js/test/TweenLite.min.js" %}"></script>
		<script src="{% static "assets/js/test/EasePack.min.js" %}"></script>
		<script src="{% static "assets/js/test/rAF.js" %}"></script>
		<script src="{% static "assets/js/test/demo-1.js" %}"></script> <!--красивые кружочки-->

<!-- Script for smooth scrolling -->
<script>
$(function() {
  $('a[href*=#]:not([href=#])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html,body').animate({
          scrollTop: target.offset().top
        }, 1000);
        return false;
      }
    }
  });
});
</script>

</body>
</html>