{% load static %}
<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="shortcut icon" href="http://static.tumblr.com/1ccbc9v/sCFnc0fp4/apple-touch-icon-72x72.png">

	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Cardo:400,400italic' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="{% static "assets/css/test/reset.css" %}"/> <!-- CSS reset -->
	<link rel="stylesheet" href="{% static "assets/css/test/style.css" %}"/> <!-- Resource style -->
	<link rel="stylesheet" href="{% static "assets/css/test/component.css" %}"/> <!-- Resource style -->
	<script src="{% static "assets/js/test/modernizr.js" %}"></script> <!-- Modernizr -->


	<title>О нас</title>
</head>
<body>
	<header class="cd-header">
		<div class="cd-logo"><a href="{% url 'test_index' %}"><img src="{% static "images/logo-tuka.png" %}" alt="Logo"></a></div>

		<a class="cd-primary-nav-trigger" href="#0">
			<span class="cd-menu-text">Меню </span><span class="cd-menu-icon"></span>
		</a> <!-- cd-primary-nav-trigger -->
	</header>

	<nav>
		<ul class="cd-primary-nav">
			<li class="cd-label">Кто</li>

			<li><a href="{% url 'test_about' %}">О нас</a></li>

			<li class="cd-label">Сырье</li>

			<li><a href="{% url 'test_buy' %}">Купить</a></li>
			<li><a href="{% url 'test_sell' %}">Продать</a></li>
		</ul>
	</nav>

	<section class="cd-intro-about">
		<h1><a href="#more"><img src="http://cdn.onnoschwanen.com/images/ui/arrow-down.svg"/></a></h1>
	</section>

	<main class="cd-main-content-about">
		<div id="more" class="cd-container" style="margin-bottom: 0px;">


<!-- Section 1 (Short text about) -->

			<div class="cd-container-txt">
				<p><strong>TukaTuka</strong> стремится объединить всех участников рынка вторичного сырья и рынка переработки. Начав с Москвы и Московской области, мы планируем дальнейшее расширение.
					<br>Наша команда работает над созданием универсальной платформы для:
					<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;• Быстрой коммуникации между пользователями;
					<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;• Возможности заключения безопасных сделок(сервис безопасной сделки);
					<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;• Удобного поиска информации по отрасли и о конкретных компаниях(с помощью фильтров);
					<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;• Освещения важных новостей отрасли.
					<br>Мы всегда открыты для Ваших предложений и пожеланий. Оставайтесь с нами в социальных сетях, следите за нашими новостями на сайте и Вы первыми узнаете о наших нововведениях и изменениях отраслевой политики.
            	</p>
			</div>
		</div>


<!-- Section 2 (Services) -->

			<div class="cd-main-services">
				<div class="cd-main-content-services-img">
					<img src="http://38.media.tumblr.com/05b4c19b53f62bf5b85a2d845122f977/tumblr_na06qtTQ101tubinno1_1280.jpg">
				</div>
				<div class="cd-main-content-services-txt">
						<h1>Особенности</h1>

					<div class="cd-main-content-services-txt-clmn">
						<div class="cd-main-content-services-txt-clmn-2">
							<p>→  Коммуникации между пользователями <br>
							   →  Сервис безопасной сделки <br>
							   →  Поиск информации по отрасли и компаниям <br>
							   →  Освещение важных новостей отрасли <br>
						</div>
					</div>
				</div>
			</div>


		<!-- Section 3 (Footer) -->

		<div class="footer">
			<div class="footer-content">
					<div class="footer-clmn1">© TukaTuka. 2018-2019 Все права защищены</div>
					<div class="footer-clmn2">Email: <a href="mailto:info@tukatuka.ru">info@tukatuka.ru</a></div>
			</div>
		</div>

	</main>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{% static "assets/js/test/jquery-2.1.1.js" %}"></script>
<script src="{% static "assets/js/test/main-test.js" %}"></script> <!-- Resource jQuery -->

<!-- Script for smooth scrolling -->
<script>
$(function() {
  $('a[href*=#]:not([href=#])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html,body').animate({
          scrollTop: target.offset().top
        }, 1000);
        return false;
      }
    }
  });
});
</script>

</body>
</html>