{% load static %}
<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="shortcut icon" href="http://static.tumblr.com/1ccbc9v/sCFnc0fp4/apple-touch-icon-72x72.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="{% static "assets/css/test/reset.css" %}"/> <!-- CSS reset -->
	<link rel="stylesheet" href="{% static "assets/css/test/style.css" %}"/> <!-- Resource style -->
	<link rel="stylesheet" href="{% static "assets/css/test/component.css" %}"/> <!-- Resource style -->
	<script src="{% static "assets/js/test/modernizr.js" %}"></script> <!-- Modernizr -->

	<title>Elegance Portfolio Template</title>
</head>
	<header class="cd-header">
		<div class="cd-logo"><a href="{% url 'test_index' %}"><img src="{% static "images/logo-tuka.png" %}" alt="Logo"></a></div>

		<a class="cd-primary-nav-trigger" href="#0">
			<span class="cd-menu-text">Menu</span><span class="cd-menu-icon"></span>
		</a> <!-- cd-primary-nav-trigger -->
	</header>

	<nav>
		<ul class="cd-primary-nav">
			<li class="cd-label">Кто</li>

			<li><a href="{% url 'test_about' %}">О нас</a></li>

			<li class="cd-label">Сырье</li>

			<li><a href="{% url 'test_buy' %}">Купить</a></li>
			<li><a href="{% url 'test_sell' %}">Продать</a></li>

			<li class="cd-label">Follow us</li>

			<li class="cd-social cd-linkedin"><a href="#0">Facebook</a>facebook</li>
			<li class="cd-social cd-instagram"><a href="#0">Linkedin</a>linkedin</li>
			<li class="cd-social cd-dribbble"><a href="#0">email</a>email</li>
			<li class="cd-social cd-telegram"><a href="#0">Telegram</a>telega</li>
		</ul>
	</nav>

	<section class="cd-intro-contact">
	</section>


	<main id="more" class="cd-main-content">
		<div class="cd-container">
				<h1>Продажа сырья</h1>
		</div>

		<div class="cd-container-contact">
          <table border="0" cellpadding="0" cellspacing="0" id="sheet0" class="bordered">
            <col>
            <col>
            <col>
            <col>
            <col>
            <col>
            <thead>
                <tr>
                  <th>№</th>
                  <th>Фото</th>
                  <th>Наименование продукции</th>
                  <th>Адрес</th>
                  <th>Цена</th>
                  <th>Объем</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>один</td>
                    <td><img src="{% static "images/22.jpg" %}"/></td>
                    <td>имя</td>
                    <td>улица Пушнкиа</td>
                    <td>200 руб</td>
                    <td>5 тонн</td>
                </tr>
                <tr>
                    <td>два</td>
                    <td><img src="{% static "images/24.jpg" %}"/></td>
                    <td>имя</td>
                    <td>улица Пушнкиа</td>
                    <td>200 руб</td>
                    <td>5 тонн</td>
                </tr>
            </tbody>
            </table>
		</div>



<!-- Footer -->

		<div class="footer">
			<div class="footer-content">
					<div class="footer-clmn1">© TukaTuka. 2018-2019 Все права защищены</div>
					<div class="footer-clmn2">Email: <a href="mailto:info@tukatuka.ru">info@tukatuka.ru</a></div>
			</div>
		</div>

	</main>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{% static "assets/js/test/jquery-2.1.1.js" %}"></script>
<script src="{% static "assets/js/test/main-test.js" %}"></script> <!-- Resource jQuery -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5wGdqrTcgLdOPzMbASsbiHkloxc6v2rE"></script>

<!-- Script for smooth scrolling -->
<script>
$(function() {
  $('a[href*=#]:not([href=#])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html,body').animate({
          scrollTop: target.offset().top
        }, 1000);
        return false;
      }
    }
  });
});
</script>

</body>
</html>