{% extends "auth_form.html" %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}
    <h1>Восстановление пароля</h1>
    {% if validlink %}
        <p>Введите свой новый пароль дважды:</p>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Сменить пароль"/></p>
        </form>
    {% else %}
        <p>Ссылка недейсвительна, возможно она уже была использована. Воспользуйтесь сбросом пароля снова.</p>
    {% endif %}
{% endblock %}